<mat-toolbar class="transparent">
  
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>

  <span class="menu">Final Finance <img class="menu-logo" src="./assets/img/deffi.png" />Silver Chipcoin</span>
  
  <!-- <button style="background-color: rgb(53, 53, 138);" class="navbar-wallet-button" mat-raised-button color="primary" (click)="connectToMetaMask()">Wallet Connection{{metamask_accounts$ | async}}</button> -->


 
    <div class="navbar-wallet-button" *ngIf="metamask_connected | async; else elseBlock">
      <!-- Content to render when condition is true.  -->
      <button  style="background-color: rgb(70, 138, 53);"  mat-raised-button color="primary">Wallet Connected</button>
    </div>
    <ng-template #elseBlock >
      <!-- Content to render when condition is false.  -->
      <div class="navbar-wallet-button">
        <button style="background-color: rgb(53, 53, 138);"  mat-raised-button color="primary" (click)="connectToMetaMask()">Wallet Disconnected</button>
      </div>
    </ng-template>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" >

      

      <h4 class="sidebar-title"></h4>

      <mat-divider></mat-divider>

      <button routerLink="/home" mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      <button routerLink="/profile" mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      <button routerLink="/wallet" mat-button class="menu-button">
          <mat-icon>account_balance_wallet</mat-icon>
          <span>Wallet</span>
      </button>
      <button routerLink="/nft-gallery" mat-button class="menu-button">
        <mat-icon>view_module</mat-icon>
        <span>NFT Gallery</span>
    </button>
      <button routerLink="/block-explorer" mat-button class="menu-button">
        <mat-icon>search</mat-icon>
        <span>Block Explorer</span>
    </button>
      <button routerLink="/forum" mat-button class="menu-button">
        <mat-icon>forum</mat-icon>
        <span>Forum</span>
    </button>

      <mat-divider></mat-divider>

      <button routerLink="/help" mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>

  </mat-sidenav>
  <mat-sidenav-content>
      
        <router-outlet></router-outlet>
          <!-- Main content here! -->
 
  </mat-sidenav-content>
</mat-sidenav-container>